@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div class="container">
        <h2>About Us</h2>
        <div class="well">We proudly presents our site, through which we can communicate and deliver the  amazing deal of tours!</div>
    </div>
</body>
</html>
