@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
    <div class="container">
        <h2>Contact</h2>
        <div class="well">
            Phone no: xx-xxx-xxxxx
            Address : abc
        </div>
    </div>
</body>
</html>
