@{
    Layout = ("~/Views/Shared/UserLayout.cshtml");
}

<!DOCTYPE html>

<html>
<head>
   <title>UserIndex</title>
</head>
<body>
    <div id="sliderFrame">
        <div id="slider">
            <img src="Content/badshahi-mosque-pakistan-51.jpg" alt="Badshahi Mosque-Lahore" />
            <img src="Content/Faisal_Masjid_on_27th_Ramadan.jpg" alt="Faisal Mosque-Islamabad" />
            <img src="Content/peshawar.jpg" alt="Ghanta Ghar-Peshwar" />
            <img src="Content/Tomb_Jinnah.jpg" alt="Jinnah Tomb-Karachi" />
        </div>
    </div> 
</body>
</html>
