@{
    Layout = ("~/Views/Shared/UserLayout.cshtml");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Visit</title>
    <style>
        img:hover {
            border: 2px solid red;
            box-shadow: 0 0 10px #333;
            -webkit-box-shadow: 0 0 10px #333;
            -moz-box-shadow: 0 0 10px #333;
            -o-box-shadow: 0 0 10px #333;
            -ms-box-shadow: 0 0 10px #333;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">

            <div class="col-md-6">

                <a href="/User/VisitSindh"> <img src="~/Content/407088362_7692fdc401_b.jpg" alt="" height="200" width="350" class="img-responsive"></a>

                <div class="carousel-caption">
                    <h1>Sindh</h1>
                </div>

            </div>
            <div class="col-md-6">

                <a href="/User/VisitBalochistan"><img src="~/Content/ATT00004-786664.jpg" alt="" height="200" width="350" class="img-responsive"></a>

                <div class="carousel-caption">
                    <h1>Balochistan</h1>
                </div>

            </div>
            <div class="col-md-6">

                <a href="/User/VisitKPK"> <img src="~/Content/UshuValley%20Malam%20Jabba.jpg" alt="" height="200" width="350" class="img-responsive"></a>

                <div class="carousel-caption">
                    <h1>KPK</h1>
                </div>

            </div>
            <div class="col-md-6">

                <a href="/User/VisitPunjab"><img src="~/Content/Katas-Raj-TemplePunjab.jpg" alt="" height="200" width="350" class="img-responsive"></a>

                <div class="carousel-caption">
                    <h2>Punjab</h2>
                </div>

            </div>

        </div>

    </div>
</body>
</html>
