@{
    ViewBag.Title = "VisitCity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <script src="Scripts/jquery-1.12.0.min.js"></script>
    <title></title>
    <style>
        #myDiv {
            border-radius: 15px 50px;
            border: 2px solid #FF3300;
            background-color: #FFCC66;
            width: 1050px;
            height: 150px;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("#myDiv").load("Home/SearchCity")});
        </script>
    </head>
<body>
    <div class="container" id="myDiv">
        <center>
            <form method="get" action="SearchCity">
            <input type="text" name="city" >
            <input type="submit" class="btn-sm btn-warning" value="Search" >
            </form>
            </center>
        </div>
  </body>
</html>
